.SideBar
  .SideHead
    .UserName
      .UserName__left
        =current_user.name
      .UserName__right
        = link_to "#", class: 'UserName__right--edit' do
          = icon('far', 'edit')
          %span<>
        = link_to "#", class: 'UserName__right--cog' do
          =link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: "UserName__right--cog")

  .Chatlist
    .Chatgroup
      .ChatTitle
        techcamp
      .ChatMessage
        まだメッセージがありません
    .Chatgroup
      .ChatTitle
        techcamp
      .ChatMessage
        まだメッセージがありません